/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


body {
	margin: 0;
	padding: 30px;
	font-family:  'Alice', serif;
	font-size: 18px;
	line-height: 1.5;
	width: 100%;
	display:flex;
	justify-content: center;
}

h1, h2, h3 {
	font-family: 'Kaushan Script', cursive;
	font-weight: normal;
	margin: 0;
}

blockquote {
	font-family: 'Kaushan Script', cursive;
}

:root {
	--svetla: #edf3f5;
	--seda: #b2bec3;
	--tmava: #636e72;
	--oranzova: #ee5a24;
	--cervena: #ea2027;
	--zluta: #f79f1f;
	--zelena: #a3cb38;
	--limetka: #c4e538;
}

.blog{
	display:inline-block;
	max-width: 80%;
	display: grid;
	grid-template-columns: 1fr 4fr 2fr;
	gap: 20px 40px;
	background-color:white;
	padding: 20px;
}

header{
	grid-column: 2;
	margin-bottom: -40px;
}
p{
	grid-column: 2;
}
.tip-vlevo{
	grid-column: 1;
	background:#edf3f5;
	padding: 10px;
	height: auto;
	color: #636e72;
	border-right: #ee5a24 solid 3px;
	align-self: center;
}
.tip-vpravo{
	grid-column: 3;
	background:#edf3f5;
	padding: 10px;
	height: auto;
	color: #636e72;
	border-left: #ee5a24 solid 3px;
	align-self: center;
}
blockquote{
	grid-column: 1/-1;
	justify-self: center;
	color: #b2bec3;
	font-size: 32px;
}
h2{
	grid-column-start: 2;
}
footer{
	grid-column: 2;
	color:#b2bec3;
}
figure{
	grid-column: 1/-1;
}
img{
	width: 100%;
	height: auto;
	object-fit: cover;
}
h1{
	color: var(--zelena);
	font-size: 70px;
}
.meta{
	margin-top: 60px;
	color: #b2bec3;
}

a{
	color:#ea2027;
}
figcaption{
	color:#b2bec3;
}
h2{
	color: var(--zelena);
	font-size: 50px;
}

blockquote::before{
	content:"";
	display: block;
	width: 150px;
	height: 2px;
	background-color:#c4e538;
	margin-bottom: 30px;
	margin-left: 40%;
}
blockquote::after{
	content:"";
	display: block;
	width: 150px;
	height: 2px;
	background-color:#c4e538;
	margin-top: 30px;
	margin-left: 40%;
}
footer a{
	color:#b2bec3;
}

@media screen and (max-width:600px){
	body{
		background-color: white;
		font-size: 16px;
	}
	.blog{
		max-width: 100%;
		gap: 5px 10px;
		padding: 5px;
	}
	header{
		grid-column: 1/-1;
		text-align: center;
		margin-bottom: 0;
	}
	p{
		grid-column: 2/-1;
	}
	.tip-vlevo{
		grid-column: 1;
	}
	.tip-vpravo{
		grid-column: 1/-1;
	}
	footer{
		grid-column: 1/-1;
	}

	blockquote::before{
		content:"";
		display: block;
		width: 100px;
		height: 2px;
		background-color:#c4e538;
		margin-bottom: 20px;
		margin-left: 30%;
	}
	blockquote::after{
		content:"";
		display: block;
		width: 100px;
		height: 2px;
		background-color:#c4e538;
		margin-top: 20px;
		margin-left: 30%;
	}
	blockquote{
		font-size: 20px;
	}
	h2{
		font-size: 25px;
		text-align: center;
	}
	h1{
		font-size: 40px;
	}
	.meta{
		margin-top: 10px;
	}
}